@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  @apply text-c-white;
}

/* NAV */
nav ul a,
nav button,
#suggestions_title {
  @apply hover:text-c-blue;
}

.movieText h3 {
  @apply flex items-center  text-grey-t;
}

.movieText span {
  @apply ml-1;
}

/* MAIN PAGE */
.main__page h4 {
  @apply text-c-blue text-2xl mb-4 font-semibold;
}

/* MOVIE ID */
.movieID__container {
  @apply lg:h-[700px];
}

.movieID button {
  @apply bg-c-blue h-11 w-36 lg:w-56 flex items-center justify-center;
}

.movieID button h3 {
  @apply text-xl ml-2;
}

.movieID button {
  cursor: pointer;
  clear: both;
  border-radius: 3px;
  transition: all 0.8s, color 0.3s 0.3s;
  color: #333;
}

.movieID button:hover {
  box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

/* FOOTER */

footer h2,
footer label {
  @apply mb-2 text-xl text-c-blue font-semibold;
}

footer h3,
footer p,
footer a,
footer li,
footer label {
  @apply text-c-white;
}
.movieDesc {
  @apply lg:min-w-[1000px];
}

.footer__address {
  @apply flex flex-col;
}

.footer__icons a {
  @apply text-xl mr-2 lg:text-3xl;
}

footer a:hover {
  @apply text-c-blue;
}

.footer__news input,
.footer__news button {
  @apply h-10 p-4;
}

footer div {
  @apply mb-8;
}

/*  PLANS CARD */

.plan__box h4,
.plan__box button {
  @apply flex items-center;
}

.plan__box span {
  @apply text-c-blue;
}

.plan__box div {
  @apply py-4;
}

.plan__box h4 {
  @apply lg:mb-3;
}

.plan__box h4 span {
  @apply lg:mr-2;
}

.subscription {
  left: 50%;
  transform: translateX(-50%);
}
