@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-c-white;
}

body {
  @apply px-4 lg:px-20;
}

nav a,
nav button,
#suggestions_title {
  @apply hover:text-c-blue;
}

.movieText h3 {
  @apply flex items-center text-slate-700;
}

.movieText span {
  @apply ml-1;
}

.movieID button {
  @apply bg-c-blue w-56 h-11 flex items-center justify-center;
}

.movieID button h3 {
  @apply text-xl ml-2;
}

.movieID button {
  cursor: pointer;
  clear: both;
  border-radius: 3px;
  transition: all 0.8s, color 0.3s 0.3s;
  color: #333;
}

.movieID button:hover {
  box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}
