@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  @apply text-c-white;
}

/* NAV */
nav ul a,
nav button,
#suggestions_title {
  @apply hover:text-c-blue;
}

.movieText h3 {
  @apply flex items-center text-grey-t;
}

.movieText span {
  @apply ml-1;
}

/* movie ID */
.movieID button {
  @apply bg-c-blue w-56 h-11 flex items-center justify-center;
}

.movieID button h3 {
  @apply text-xl ml-2;
}

.movieID button {
  cursor: pointer;
  clear: both;
  border-radius: 3px;
  transition: all 0.8s, color 0.3s 0.3s;
  color: #333;
}

.movieID button:hover {
  box-shadow: 300px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

/* FOOTER */
footer h2,
footer h3,
footer a {
  @apply font-semibold text-xl;
}

.movieDesc {
  @apply lg:min-w-[1000px];
}

.footer__address {
  @apply flex flex-col;
}

.footer__icons a {
  @apply text-3xl;
}

.footer__icons a:hover {
  @apply text-c-blue;
}

.footer__map h2,
.footer__map h3,
.footer__map a,
.footer__list li {
  @apply mb-2;
}
.footer__list li {
  @apply text-c-white font-semibold text-xl;
}
